<div class="main flex ">
  <app-menu></app-menu>
  <div class="flex w-full main_content flex-col">
    <app-navbar></app-navbar>
    <div class="flex justify-around bg-secondry px-5 py-5">
      <div class="main-info w-full flex flex-col">
        <app-rating-list></app-rating-list>

        <div class="tabs flex flex-row-reverse rounded-full items-center bg-white max-w-[200px] ml-auto my-5 float-right">

          <a class="w-fit text-center px-6 py-1 cursor-pointer rounded-full"
            routerLinkActive="active"
            routerLink="/graph">GRAP</a>
          <a class="w-fit text-center px-6 py-1 cursor-pointer rounded-full" 
            routerLinkActive="active"
            routerLink="/list">LIST</a>

        </div>

        <router-outlet></router-outlet>
      
      </div>
      <app-sidebar></app-sidebar>
    </div>
  </div>
</div>